
.logo {
    font-family: 'Great Vibes', cursive;
    color: #ee6593;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    color: #605154;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 0 15px;
}

h2 {
    color: #ee6593;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    margin: 0px 0 15px;
    text-transform: uppercase;
}

section {
    padding: 30px 0px;
}

section:nth-child(even) {
    background: #fff;
}

section:nth-child(odd) {
    background: #f9f8f8;
}











/* old */
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.hero-container {
    margin-top: 10px;
}

.hero-placeholder {
    height: 250px;
    border: 1px solid #ccc;
    background: #eee;
}

.hero-text {
    margin-left: 20px;
    margin-top: 170px;
}

.slider-placeholder {
    height: 250px;
    border: 1px solid #ccc;
    background: #eee;
}