body {
    position: relative;
}

.logo {
    color: #92afdc;
    font-family: 'Great Vibes', cursive;
}

h1 {
    color: #605154;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 0 15px;
}

h1 span.subtitle {
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 3px;
    display: block;
    font-weight: normal;
    text-transform: uppercase;
}

h2 {
    color: #92afdc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    margin: 30px 0px 10px 0px;
    text-transform: uppercase;
}

h2.question {
    text-transform: none;
}

h3 {
    font-size: 17px;
}


address.venue {
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: 16px;
    margin-top: 10px;
}

.navbar a {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 3px;
    font-style: normal;
}

.content-wrapper {
    margin: 60px 0px 600px 0px;
}

header {
    background: #FDF1E3;
    border: 1px solid #e8dbcd;
    border-radius: 3px;
}

section {
    padding: 60px 0px 60px 0px;
}

section:nth-child(odd) {
    background: #f9f8f8;
    border: 1px solid #eee;
    border-radius: 3px;
}

section:nth-child(even) {
    background: #fff;
}
